:root {
    --maincolor: #212121;
    --bluecolor: #2196F3;
    --blackcolor: #000000;
    --graycolor: #757575;
    --whitecolor: #ffffff;
    --adresscolor: rgba(255, 255, 255, 0.6);
    --buttoncolor: #F5F4FA;
    --bgcolorfooter: #2F303A;
    --activebutton: #188CE8;
    --border: #ECECEC;
}
html {
    box-sizing: border-box;
}
*,*::before, *::after{
    box-sizing: inherit;
}
.list {
    list-style: none;

    margin-top: 0;
    margin-bottom: 0;
}

.link {
    text-decoration: none;
}
.link.current{
    color:var(--activebutton);
}
body {
    color: var(--maincolor);
    font-family: 'Roboto', sans-serif;
}

.container{
    margin-left: auto;
    margin-right: auto;
    
    display: flex;
    align-items: center;

    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid tomato; */
}
.container_main {
    margin-left: auto;
    margin-right: auto;

    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid tomato; */
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container_test {
    padding: 20px 24px;
}

.container_words {
    padding: 6px 22px;
}

    /* header */
.line{
    border: 1px solid #ECECEC;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;

}
.header{
    background-color: var(--whitecolor);
}
.header_nav{
    display: flex;
    align-items: center;
}

.header_logo{
    display: inline-block;
    margin-right: 93px;
    padding: 25px 0;
}
.header_logo_web{
    color: var(--bluecolor);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.header_logo,
.footer_l{
    color: var(--blackcolor);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.header_list_l{
    display: flex;
    color: var(--blackcolor);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-left: 0;
}

.header_list_l .header_item:not(:last-child){
    margin-right: 50px;
}
.header_item_l{
    color: var(--blackcolor);
    padding: 32px 0;
}
.header_nav_l{
    margin-left: auto;
    padding: 0;
    display: flex;
}
.header_nav_l .header_nav_l_a:not(:last-child) {
    margin-right: 50px;
}
.header_nav_l_link{
    color: var(--graycolor);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 32px 0;
}
.header_nav_l_tel{
    color: var(--graycolor);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 32px 0;
}

.header_nav_l_link:hover,
.header_nav_l_link:focus,
.header_nav_l_tel:hover,
.header_nav_l_tel:focus,
.header_item_l:hover,
.header_item_l:focus,
.footer_list_adr:hover,
.footer_list_adr:focus,
.footer_list_mail:hover,
.footer_list_mail:focus,
.footer_list_tel:hover,
.footer_list_tel:focus,
.active-link {
    color: var(--bluecolor);
}
/* Buttons */

.progect_list_b{
    color: var(--blackcolor) ; 
    background-color: var(--buttoncolor);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: none;
    font-family: inherit;
 }

     
.progect_list_b:hover,
.progect_list_b:focus,
.active-button {
    color: var(--whitecolor);
    background-color: var(--bluecolor);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.progect_list_bi {
    color: var(--whitecolor);
    background-color: var(--bluecolor);
    padding: 0;
    width: 216px;
    height: 50px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-radius: 4px;
   
    border: none;
    font-family: inherit;
}


.progect_list_bi:hover,
.progect_list_bi:focus,
.active-button {
    color: var(--whitecolor);
    background-color: var(--activebutton);
    box-shadow: box-shadow 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.progect_l{
    display: flex;
    justify-content: center;
    padding: 0;

    margin-bottom: 50px;
}

.progect_l .progect_list:not(:last-child){
    margin-right: 8px;
}



/* Images */
.img{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.img_l{
    width: 370px;
    height: 404px;

    margin-right: 30px;
    margin-bottom: 30px;
}
.img_l:nth-child(3n) {
    margin-right: 0;
}
.img_list_l{
    display: block;
}
.img_text{
        border: 1px solid #EEEEEE;
        border-top-style: none;
}



.img_h2{
    color: var(--maincolor);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.img_p{
    color: var(--graycolor);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}
/* Footer */

.footer{
    background-color:var(--bgcolorfooter);
    padding: 60px 0;
}

.footer_l{
    color: var(--whitecolor);
    display: inline-block;
    margin-bottom:  20px;
}
.footer_list_adr{
    color: var(--whitecolor);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.footer_list_item{
    padding: 0;
    margin-bottom: 9px;
}

.footer_list_mail,
.footer_list_tel{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer_list{
    padding-left: 0;
}
.footer_list_item:nth-last-child(1){
    margin-bottom: 0;
}


/* Main Index */


h1 {
    color: var(--whitecolor);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;


}
.section-h1-main{
    margin: 0 auto 30px;
    width: 696px;
}
.section_h1{
    background-color:var(--bgcolorfooter);
    padding-top: 200px;
    text-align: center;
    padding-bottom: 200px;
}
.benefits{
    display: flex;
    padding: 0;
}
.benefits .benefits_item:not(:last-child){
    margin-right: 30px;
}

h2,h3,p{
    margin-top: 0;
    margin-bottom: 0;
}
.name_benef{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.benef_txt{
    color: var(--graycolor);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
} 
.servises{
    margin-bottom: 94px;
}
.whatwedo,
.ourteam{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center; 
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.whatwedo_l{
    display: flex;
    padding: 0;
}
.whatwedo_l .whatwedo_item:not(:last-child) {
    margin-right: 30px;
}

.ourteam_l{
    display: flex;
    padding: 0px;
}
.ourteam_l .ourteam_item:not(:last-child) {
    margin-right: 30px;
}
.ourteam_item{
    background-color: var(--whitecolor);
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team_text{
    padding-top: 30px;
    padding-bottom: 30px;
}
.ourteam_img{
    display: block;
}
.ourteam_h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;

    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.ourteam_p{
    color: var(--graycolor);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}
.team{
    background-color: var(--buttoncolor);
}

